<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot password</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/register.css') }}">
  
</head>
<body>
  <div class="register-container">
    <h2>Forgot your password.</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="form-container">
      <form method="POST">
        <label for="username">Enter your username:</label>
        <input type="text" name="username" id="username" required>
        <input type="submit" value="Reset Password">
      </form>
  </div> 

    <div class="login-link">
      <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
    </div>
  </div>
</body>
</html>

