<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/static/logo/EDFlogo_Square.jpg">
    <link href='static/style/login_style.css' rel='stylesheet'> 
</head>
<body>
    <div class="header">
    <img src='/static/logo/EDFlogo_Square.jpg' alt="EDF Logo">
    <h2>Welcome to the EDF Lookbook Generator</h2>
    </div>

    <div class="star">
        <p> Please login to access the Lookbook Generator. Please note, this sie is intended for Elizabeth Dole Foundation staff only.</p> 
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
          </form>
        <p><a href="{{ url_for('register') }}" style= color:white> Click here to create an account</a></p>
    </div> 

    <footer class="footer">
        <p>&copy; Elizabeth Dole Foundation, 2025</p> 
    </footer> 
</body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flash">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</html>